<!-- <div class="parent">
<div class="card" style="width: 20rem;">
    <img src="/assets//img/gaika.jpg" class="card-img-top" alt="...">
    <div class="card-body" >
      <h5 class="card-title" style="height: 65px; text-align: center;">Гайки шестигранные</h5>
      <a routerLink="/gosts" class="btn btn-secondary" style="width: 100%;">Открыть</a>
    </div>
  </div>

  <div class="card" style="width: 20rem;">
    <img src="/assets//img/gaika2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"style="height: 65px;text-align: center;" >Гайки шестигранные c фланцем</h5>
      <a routerLink="/byrt" class="btn btn-secondary" style="width: 100%;">Открыть</a>
    </div>
  </div>

  <div class="card" style="width: 20rem;">
    <img src="/assets//img/gaika3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"style="height: 65px;text-align: center;" >Гайки колпачковые</h5>
      <a routerLink="/kolp" class="btn btn-secondary" style="width: 100%;">Открыть</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img src="/assets//img/gaika4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"style="height: 65px;text-align: center;" >Гайки круглые</h5>
      <a routerLink="/krugl" class="btn btn-secondary" style="width: 100%;">Открыть</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img src="/assets//img/gaika5.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"style="height: 65px;text-align: center;" >Гайки прорезные</h5>
      <a routerLink="/prorezn" class="btn btn-secondary" style="width: 100%;">Открыть</a>
    </div>
  </div> -->

   <!-- <div class="card">
      <img src="/assets//img/gaika2.jpg" class="card-img-top"  alt="...">
      <div class="cardBlock transition"><a routerLink="/byrt" class="cardButton">Открыть</a> </div>
      
      <div class="card-body">
        <h5 class="card-title"style="height: 65px;text-align: center;" >Гайки шестигранные c фланцем</h5>
        <a routerLink="/byrt" class="btn btn-secondary" style="width: 100%;">Открыть</a>
      </div>
  </div>  -->
 
  

<div class="container-fluid contenedor text-center"  >
  <div style="margin: 0 auto;">
  <div class="container text-center" style="display: flex; flex-wrap: wrap;justify-content: center;" >
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto " style="margin-right: 2%;margin-left: 2%; margin-top: 2%;" routerLink="/gosts">
        <div class="ver_mas text-center">
           <span  class="lnr lnr-eye">
             <!-- <img src="/assets//img/gla.png" style="width:30%;height:60%; margin: 0 auto;"> -->
           </span>
        </div>
        <article class="text-left">
           <h1></h1>
           <h2>Гайки шестигранная</h2>
        </article>
        <img src="/assets//img/gaika.jpg" alt="">
     </div>
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto" style="margin-right: 2%;margin-left: 2%; margin-top: 2%;" routerLink="/byrt">
        <div class="ver_mas text-center">
           <span id="click" class="lnr lnr-eye"></span>
        </div>
        <article class="text-left">
          <h1></h1>
          <h2>Гайки c фланцем</h2>
        </article>
        <img src="/assets//img/gaika2.jpg" alt="">
     </div>
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto" style = "margin-right: 2%;margin-left: 2%; margin-top: 2%;" routerLink="/kolp">
        <div class="ver_mas text-center">
           <span class="lnr lnr-eye"></span>
        </div>
        <article class="text-left">
          <h1></h1>
          <h2>Гайки колпачковые</h2>
        </article>
        <img src="/assets//img/gaika3.jpg" alt="">
     </div>
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto" style="margin-right: 2%;margin-left: 2%; margin-top: 2%;" routerLink="/krugl" >
      <div class="ver_mas text-center">
         <span class="lnr lnr-eye"></span>
      </div>
      <article class="text-left">
        <h1></h1>
        <h2>Гайки круглые</h2>
      </article>
      <img src="/assets//img/gaika4.jpg" alt="">
   </div>
   <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto" style="margin-right: 2%;margin-left: 2%; margin-top: 2%;" routerLink="/prorezn">
    <div class="ver_mas text-center">
       <span class="lnr lnr-eye"></span>
    </div>
    <article class="text-left">
      <h1></h1>
      <h2>Гайки прорезные</h2>
    </article>
    <img src="/assets//img/gaika5.png" alt="">
 </div>
  </div>
  </div>
</div>
 


<!-- <nav>
    <a routerLink="/gosts">Гайки шестигранные</a>
    <a routerLink="/byrt">Гайки шестигранные с фланцем</a>
</nav> -->

<!-- </div> -->
<router-outlet></router-outlet>

