<div class="container">
  <div *ngIf="viewAll">
    <div class="row" style="margin-bottom: 5px;">
      <input class="form-control" type="text" placeholder="Поиск..."  #box (keyup.enter)="SearchGosts($event.target.value)" style="margin-top: 10px;"> <p>{{value}}</p>
      <div class="col-lg-4 col-lg-offset-4" style="">
        
          <!-- <input type="search" id="container-search" value="" class="form-control" placeholder="Поиск" (change)="onChangeEvent($event)" > -->
      </div>
    </div>
    <div *ngFor="let gost of searchGosts">
      <!-- <div class="container" style="margin-bottom:5px;"> -->
        <div class="row">
          <article style="width: 100%;" class="col-md-4 col-lg-3">
            <div class="card-content">
           <a class="spectrum-a" (click)="getTypeGOSTS(gost)" style="display: block; height: 100%;">
                <img style="width: 100px; height: 100px; opacity: 0.8;" src="{{gost.img}}" class="spectrum1">
              <h4 style="display: inline-block; width: 25%; text-align: center; " class="spectrum-h2">Гост {{gost.name}}</h4>
                <p style="display: inline-block;width: 60%; color: black;">{{gost.description}}</p>
                <!-- <p style="display: inline-block;width: 60%; color: black;">{{gost.url}}</p> -->
              </a>
            </div>
            <!-- .card-content -->
          </article>
          </div>
          </div>
        </div>
<button style="float: right; height: 34px; position: relative; color: #566473; letter-spacing: 1px; border: 0; background: white " *ngIf="flag" (click)="view()">Вернуться к списку ГОСТ</button>
     <!-- Здесь начинается таблица с параметрами -->
<div class="dialog" *ngIf="dialog">
      <p style="text-align: center;font-size: 25px;">Выберите резьбу !</p>
      <button (click)="off()" class="btn btn-primary" style="border-color: rgb(37, 33, 33);color: black; background-color:rgb(255, 250, 250); text-align: center; width: 30%; margin: 0% 35% 3% 35%; height: 5%;">Ок</button>
</div>
<div *ngIf="flag">
  <table class="table" *ngIf="flagGost" >    
    <thead class="thead-inverse">
    <tr>
      <!-- <th >№</th> -->
      <th >e</th>
      <th >s</th>
      <th >m</th>
      <th >dw</th>
      <th >da</th>
      <th >Резьба</th>
      <th></th>
    </tr>
    </thead>
    <!-- Вывод всех параметров -->
    <!-- TypeGost - обьект определенной строки с параметрами -->
    <tbody>
    <tr *ngFor="let GostParamRezbsItem of GostParamRezbs">
      <!-- <th >{{GostParamRezbsItem.Param.id}}</th> -->
      <th>{{GostParamRezbsItem.Param.e}}</th>
      <th>{{GostParamRezbsItem.Param.s}}</th>
      <th>{{GostParamRezbsItem.Param.m}}</th>
      <th>{{GostParamRezbsItem.Param.dw}}</th>
      <th>{{GostParamRezbsItem.Param.da}}</th>
      <select [(ngModel)]="selectedRezb" style="margin:5px; width: 110px;" (change)="selectedRezdEvent(GostParamRezbsItem.Param.id)">
      <option  *ngFor=" let Rezb of GostParamRezbsItem.Rezbs" [ngValue]="Rezb">{{Rezb.type_rezb}}</option>
    </select>
     <td>
        <button class="btn btn-secondary" (click)="insertFile(GostParamRezbsItem.Param,selectedRezb)">Вставить</button>
      </td>
    </tr>
    </tbody>
  </table>
  <table class="table" *ngIf="flagGost1" >    
    <thead class="thead-inverse">
    <tr>
      <!-- <th >№</th> -->
      <th >s</th>
      <th >m</th>
      <th >dw</th>
      <th >Резьба</th>
      <th></th>
    </tr>
    </thead>
    <!-- Вывод всех параметров -->
    <!-- TypeGost - обьект определенной строки с параметрами -->
    <tbody>
    <tr *ngFor="let GostParamRezbsItem of GostParamRezbs">
      <!-- <th >{{GostParamRezbsItem.Param.id}}</th> -->
      <th>{{GostParamRezbsItem.Param.s}}</th>
      <th>{{GostParamRezbsItem.Param.m}}</th>
      <th>{{GostParamRezbsItem.Param.dw}}</th>
      <!-- <th>{{GostParamRezbsItem.Param.da}}</th> -->
      <select [(ngModel)]="selectedRezb" style="margin:5px; width: 110px;"(change)="selectedRezdEvent(GostParamRezbsItem.Param.id)">
      <option  *ngFor=" let Rezb of GostParamRezbsItem.Rezbs" [ngValue]="Rezb">{{Rezb.type_rezb}}</option>
    </select>
     <td>
        <button class="btn btn-secondary" (click)="insertFile(GostParamRezbsItem.Param,selectedRezb)">Вставить</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
